nav{
    width: 100vw;
}
span{
    margin-right: 5px;
}
#repos{
    width: 100%;
    font-size: 1rem;
}
#repos-stars{
    width: 100%;
    font-size: 1rem;
    border: none;
}
#main{
    position: relative;
    background-size: 400% 400%;
    background: linear-gradient(45deg, #f1f6f9, #b6bece, #f1f6f9, #b6bece);
    height: 90vh;
    width: 100%;
}
#profile-background{
    background: linear-gradient(-45deg, #f1f6f9, #b6bece, #f1f6f9, #b6bece);
    border: none;
}
#img-index{
    max-width: 25%;
    max-height: 25%;
}
#link-repos{
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    opacity: 0.6;
}
#link-repos:hover{
    opacity: 1;
    transition-delay: 0.1s;
    background: rgb(236, 236, 236);
}

